body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header,
nav,
ul,
li,
a,
h1 {
    margin: 0;
    padding: 0;
}

header {
    background: #292929;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    background: #444;
    display: flex;
    margin: 0; /* Remove qualquer margem padrão do ul */
}

nav ul li {
    flex: 1;
    text-align: center;
    border-right: 1px solid #666; /* Adiciona uma borda à direita de cada caixa */
}

nav ul li:last-child {
    border-right: none; /* Remove a borda à direita do último item */
}

nav ul li a {
    display: block;
    padding: 10px 20px; /* Ajuste o padding conforme necessário */
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #666; /* Cor de fundo ao passar o mouse */
}

main {
    padding: 1em;
    max-width: 800px;
    margin: auto;
}

section {
    margin-bottom: 2em;
}

video {
    display: block;
    margin: 0 auto;
    border: 1px solid #000;
}

.controls {
    text-align: center;
    margin: 10px 0;
}

.controls button, .controls input {
    margin: 5px;
    padding: 15px 20px; /* Aumentando o padding para aumentar o tamanho dos botões */
    font-size: 3em;
    background-color: #555; /* Cor de fundo dos botões */
    color: #fff; /* Cor do texto dos botões */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
    border-radius: 20px; /* Bordas arredondadas */
}

.controls button:hover, .controls input:hover {
    background-color: #777; /* Cor de fundo dos botões ao passar o mouse */
    transform: scale(1.05); /* Efeito de escala ao passar o mouse */
}

footer {
    text-align: center;
    padding: 1em 0;
    background: #333;
    color: #fff;
}

.image-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin: 20px 0;
}

.image-text-container img {
    margin-right: 20px;
}

.fundo-cinza {
    background-color: #cccccc; /* Cor de fundo cinza */
    padding: 10px; /* Espaçamento interno para melhor aparência */
}